<div>
  <div class="d-flex justify-content-start flex-wrap mx-5" style="gap:0.5rem;">
    <%= for note <- @notes do %>
      <.note_card
        note={note}
        note_delete_path={Routes.note_path(@conn, :delete, note)}
        note_show_path={Routes.note_path(@conn, :show, note)}
      />
    <% end %>
  </div>
</div>
