<body class="root" style="height: 100%; background-color: rgb(245, 242, 240);">
  <.top_bar current_user={@current_user} />
  <div class="d-flex">
    <%= if @current_user do %>
      <div class="mx-2" style="width:10%">
        <.sidebar />
      </div>
      <div style="width:100%; height:90vh; overflow-y:auto;">
        <%= @inner_content %>
      </div>
    <% end %>
    <.footer />
  </div>
</body>
